figure {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

img{
	vertical-align:bottom;
	line-height: 0;
	font-size: 0;
    backface-visibility: hidden;
}