.DS_Store
*.log
node_modules/
dist/
vendor/

# WordPress Core & Content
wp-config.php
wp-admin/
wp-includes/
wp-content/uploads/
wp-content/plugins/
wp-content/languages/
wp-content/upgrade/
*.php
!functions.php
!index.php
!page-*.php
!single-*.php
!archive-*.php
!category-*.php
!tag-*.php
!header.php
!footer.php
!404.php
!front-page.php
!home.php
!search.php
!style.css
!style.css.map
!style.scss
