/* base > color
============================================================================================================ */

/* 基本色一覧*/

$white00: white;
/*白*/

$black00: black;
$black01: #1a1a1a;
/*黒*/

$gray00: gray;
$gray01: #B7B7B7;
/*灰色*/

$yellow00: yellow;
$yellow01: #FACB4C;
/*黄*/

$red00: red;
/*赤*/

$blue00: blue;
$blue01: #02345B;
$blue02: #00345B;
$blue03: #4C708B;
$blue04: #7F99AC;
$blue05: #E5EAEE;
$blue06: #8099AC;
$blue07: #BFCCD6;
$blue08: #466076;
/*青*/

$pink00: pink;
$pink01: #D78595;
/*ピンク*/

$green00: green;
$green01: #93D0C4;
/*緑*/

$gold00:gold;
/*金*/
