/* base > color
============================================================================================================ */

/* 基本色一覧*/

$white00: white;
/*白*/

$black00: black;
$black01: #1a1a1a;
/*黒*/

$gray00: gray;
$gray01: #B7B7B7;
$gray02: #F2F4F6;
$gray03: #DBDBDB;
$gray04: #605F5F;
$gray05: #969696;
$gray06: #F8F8F8;
/*灰色*/

$yellow00: yellow;
$yellow01: #FACB4C;
$yellow02: #FFCA1E;
/*黄*/

$red00: red;
/*赤*/

$blue00: blue;
$blue01: #02345B;
$blue02: #00345B;
$blue03: #4C708B;
$blue04: #7F99AC;
$blue05: #E5EAEE;
$blue06: #8099AC;
$blue07: #BFCCD6;
$blue08: #466076;
$blue09: #F7F8FA;
$blue10: #F2F8FC;
$blue11: #FAFBFC;
$blue12: #80D2C4;
/*青*/

$pink00: pink;
$pink01: #D78595;
$pink02: #E48095;
/*ピンク*/

$green00: green;
$green01: #93D0C4;
$green02: #4E4426;
/*緑*/

$gold00:gold;
$gold01:#9B823E;
/*金*/
