/* base > color
============================================================================================================ */

/* 基本色一覧*/

$white00: white;
/*白*/

$black00: black;
$black01: #1A1A1A;
$black02: #323232;
/*黒*/

$gray00: gray;
$gray01: #E1E6E6;
$gray02: #DBDBDB;
/*灰色*/

$yellow00: yellow;
$yellow01: #FACB4C;
$yellow02: #FFCA1E;
/*黄*/

$red00: red;
/*赤*/

$blue00: blue;
$blue01: #02345B;
$blue02: #00345B;
$blue03: #4C708B;
$blue04: #7F99AC;
$blue05: #E5EAEE;
$blue06: #8099AC;
$blue07: #BFCCD6;
$blue08: #466076;
$blue09: #F7F8FA;
$blue10: #F2F8FC;
$blue11: #FAFBFC;
$blue12: #80D2C4;
$blue13: #40718E;
/*青*/

$pink00: pink;
$pink01: #FF3F9F;
$pink02: #E48095;
/*ピンク*/

$green00: green;
$green01: #93D0C4;
$green02: #4E4426;
/*緑*/

$gold00:gold;
$gold01:#9B823E;
/*金*/
