.page-teachers {
  padding-top : 80px;
  @include mq_sp{
    padding-top: size_sp(101);
  }
  &__thought {
    & .page-sec01 {
      margin-top : 70px;
      @include mq_sp{
        margin-top: size_sp(79);
      }
    }
  }
  &__attempt {
    padding-top : 200px;
    @include mq_sp{
      padding-top: size_sp(201);
    }
  }
  & .page-sec02 {
    padding-top : 68px;
    @include mq_sp{
      padding-top: size_sp(79);
    }
  }
  &__understanding {
    padding-top: 200px;
    @include mq_sp{
      padding-top: size_sp(200);
    }
    &-intro {
      font-size: 16px;
      line-height: (37/16);
      width: 768px;
      padding-top: 64px;
      margin: 0 auto;
      @include mq_sp{
        @include fz_vw(28);
        line-height : (58/28);
        width : size_sp(644);
        padding-top: size_sp(70);
      }
    }
    &-list {
      width : 768px;
      padding-top: 90px;
      margin: 0 auto;
      @include flex(flex, wrap, flex-start, stretch, normal, row);
      @include mq_sp{
        width: size_sp(644);
        padding-top: size_sp(71);
        flex-direction: column;
      }
      & > li {
        width: 366px;
        padding: 27px 27px 40px;
        border : solid 3px $blue03;
        @include mq_sp{
          width: 100%;
          padding: size_sp(46) size_sp(25) size_sp(35);
          border : solid size_sp(5) $blue03;
        }
        &:nth-of-type(even) {
          margin-left : 36px;
          @include mq_sp{
            margin-top: size_sp(60);
            margin-left: 0;
          }
        }
      }
    }
    &-ttl {
      font-size: 24px;
      font-weight: 700;
      line-height : (35/24);
      text-align: center;
      color : $white00;
      background-color: $blue02;
      padding: 10px 0;
      @include mq_sp{
        @include fz_vw(34);
        line-height : (49/34);
        padding: size_sp(12) 0;
      }
    }
    &-concept {
      font-size: 22px;
      font-weight: 700;
      line-height: (32/22);
      text-align: center;
      margin-top: 31px;
      @include mq_sp{
        @include fz_vw(32);
        line-height: (46/32);
        margin-top: size_sp(40);
      }
    }
    &-txt {
      font-size: 16px;
      line-height: (37/16);
      margin-top: 23px;
      @include mq_sp{
        @include fz_vw(28);
        line-height : (58/28);
        margin-top: size_sp(31);
      }
    }
  }
  & .mod-banner {
    background: url(./img/page/for-teachers/bg_banner.jpg) no-repeat center/cover;
    margin-top: 200px;
    @include mq_sp{
      margin-top: size_sp(200);
    }
  }
  &__detail {
    padding-top: 200px;
    @include mq_sp{
      padding-top: size_sp(200);
    }
  }
  & .page-document {
    &__list {
      width: 762px;
      padding-top: 70px;
      margin: 0 auto;
      @include mq_sp{
        width: size_sp(680);
        padding-top: size_sp(80);
      }
    }
    &__item {
      width: 242px;
      margin-right : 0;
      @include mq_sp{
        width: size_sp(326);
      }
      &:not(:nth-of-type(3n)) {
        margin-right : 18px;
        @include mq_sp{
          margin-right: 0;
        }
      }
      &:nth-of-type(even) {
        @include mq_sp{
          margin-left : size_sp(28);
        }
      }
    }
  }
}