/*  layout > single-career
============================================================================================================ */

.single-career {
  .single-wrap {
    margin-top: 73px;
    @include mq_sp{
      margin-top: size_sp(61);
    }
  }
  &__info {
    max-width: 768px;
    width: 100%;
    padding-top: 123px;
    margin: 0 auto;
    position: relative;
    @include mq_sp{
      max-width: size_sp(670);
      padding-top: size_sp(297);
    }
    &Thumb {
      width: 384px;
      height: 256px;
      position: absolute;
      top: 0;
      left: 0;
      @include mq_sp{
        width: size_sp(550);
        height: size_sp(367);
      }
    }
    &Cont {
      background : $gray01;
      width: 424px;
      padding: 46px 31px 48px 70px;
      margin-left: auto;
      @include mq_sp{
        width: size_sp(568);
        padding: size_sp(102) size_sp(50) size_sp(46);
      }
      & > h1 {
        font-size: 20px;
        font-weight: 700;
        line-height: (38/20);
        @include mq_sp{
          @include fz_vw(34);
          line-height: (64/34);
        }
      }
    }
    &List {
      margin-top: 24px;
      @include mq_sp{
        margin-top: size_sp(25);
      }
      & > li {
        font-size: 16px;
        line-height: (27/16);
        @include flex(flex, wrap, space-between, normal, normal, row);
        @include mq_sp{
          @include fz_vw(22);
          line-height: (39/22);
          flex-direction: column;
        }
        &:nth-of-type(n + 2) {
          margin-top: 13px;
          @include mq_sp{
            margin-top: size_sp(21);
          }
        }
      }
    }
    &Ttl {
      width: 48px;
      @include mq_sp{
        width: 100%;
      }
    }
    &Detail {
      width: 255px;
      @include mq_sp{
        width: 100%;
        margin-top: size_sp(5);
      }
    }
  }
  &__editor {
    max-width: 768px;
    width: 100%;
    padding-top: 46px;
    padding-bottom: 120px;
    margin: 0 auto;
    border-bottom : solid 1px $gray01;
    @include mq_sp{
      max-width: size_sp(630);
      padding-top: size_sp(72);
      padding-bottom: size_sp(111);
      border-bottom-width : size_sp(2);
    }
    & > li {
      &:nth-of-type(n + 2){
        margin-top: 109px;
        @include mq_sp{
          margin-top: size_sp(104);
        }
      }
      &.type-b {
        & .single-career__editor {
          &Cont {
            @include flex(flex, wrap, space-between, stretch, stretch, row);
            @include mq_sp{
              flex-direction: column;
            }
          }
          &Thumb {
            width: 384px;
            height: 256px;
            margin: 0;
            @include mq_sp{
              width: 100%;
              height: size_sp(420);
            }
          }
          &Txt {
            width: 344px;
            @include mq_sp{
              width: 100%;
            }
          }
        }
      }
      &.type-c {
        & .single-career__editor {
          &Cont {
            @include flex(flex, wrap, space-between, stretch, stretch, row-reverse);
            @include mq_sp{
              flex-direction: column;
            }
          }
          &Thumb {
            width: 384px;
            height: 256px;
            margin: 0;
            @include mq_sp{
              width: 100%;
              height: size_sp(420);
            }
          }
          &Txt {
            width: 344px;
            @include mq_sp{
              width: 100%;
            }
          }
        }
      }
    }
    & h2 {
      font-size: 24px;
      line-height: (49/24);
      margin: 19px 0;
      @include mq_sp{
        @include fz_vw(36);
        line-height: (70/36);
        margin: size_sp(22) 0;
      }
    }
    &Thumb {
      // width: 447px;
      // height: 298px;
      width: 100%;
      height: 512px;
      margin: 24px auto;
      @include mq_sp{
        width: 100%;
        height: size_sp(420);
        margin: size_sp(24) auto;
      }
    }
    &Txt {
      font-size: 18px;
      line-height: (34/18);
      @include mq_sp{
        @include fz_vw(30);
        line-height: (60/30);
      }
    }
  }
  &__other {
    max-width: 948px;
    width: 100%;
    padding-top: 80px;
    margin: 0 auto;
    @include mq_sp{
      max-width: size_sp(630);
      padding-top: size_sp(80);
    }
    &List {
      padding-top: 60px;
      @include mq_sp{
        padding-top: size_sp(60);
      }
    }
    & .btn__more.b {
      margin-top: 80px;
      @include mq_sp{
        margin-top: size_sp(100);
      }
    }
  }
}