.page-404{
  padding: 108px 0 0;
  @include mq_sp{
    padding: size_sp(80) 0 0;
  }
  h2{
    @include font-size(30);
    text-align: center;
    line-height: 1;
    color: $black00;
    margin-bottom: 31px;
    @include mq_sp{
      @include fz_vw(40);
      line-height: (58/40);
      margin-bottom: size_sp(20);
    }
  }
  h3{
    @include font-size(22);
    text-align: center;
    color: $black00;
    line-height: 1;
    margin-bottom: 65px;
    @include mq_sp{
      @include fz_vw(28);
      line-height: (40/28);
      margin-bottom: size_sp(80);
    }
  }
  &__icn{
    max-width: 313px;
    width: 100%;
    margin: 0 auto 59px;
    @include mq_sp{
      max-width: size_sp(353);
      margin-bottom: size_sp(74);
    }
    & svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &__info{
    max-width: 496px;
    margin: 0 auto;
    @include mq_sp{
      max-width: size_sp(544);
    }
    a{
      text-decoration: underline;
      text-underline-offset: 1px;
    }
  }
}