/*  layout > about
============================================================================================================ */

.page-about {
  // メッセージ
  &__message {
    padding-top : 30px;
    @include mq_sp{
      padding-top : size_sp(60);
    }
    &Inner{
      max-width: 738px;
      width: 100%;
      margin: 0 auto;
      @include mq_sp{
        max-width: size_sp(630);
      }
    }
    &Catch{
      max-width: 428px;
      width: 100%;
      margin: 60px auto 0;
      @include mq_sp{
        max-width: size_sp(428);
        margin-top: size_sp(80)
      }
    }
    &Txt{
      @include font-size(20);
      line-height: (38/20);
      margin-top: 60px;
      @include mq_sp{
        @include fz_vw(34);
        line-height: (64/34);
        margin-top: size_sp(73);
      }
    }
    &Slider{
      @include wide-all();
      margin-top: 54px;
      @include mq_sp{
        margin-top: size_sp(72);
      }
    }
    &Imgs{
      //@include flex(flex, wrap, space-between, normal, normal, row);
      //position: relative;
      //left: 50%;
      //transform: translateX(-50%);
      //width: 1104px;
      @media screen and (max-width: 1140px) {
        max-width: 100%;
        width: 100%;
      }
      @include mq_sp{
        //margin-top: size_sp(72);
      }
      &.swiper-wrapper{
        transition-timing-function: linear;
      }
    }
    &Img{
      position: relative;
      max-width: 348px;
      width: 100%;
      height: 232px;
      @media screen and (max-width: 1140px) {
        //max-width: (348/1104) * 100%;
        //width: 100%;
        //height: 0;
        //padding-top: (232/1104) * 100%;
        //aspect-ratio: 16 / 9;
      }
      @include mq_sp{
        max-width: 100%;
        height: size_sp(420);
        padding-top: 0;
      }
      &:nth-of-type(n + 2){
        @include mq_sp{
          margin-top: size_sp(30);
        }
      }
      img{
        @media screen and (max-width: 1140px) {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }
      }
    }
  }
  &__professor{
    margin-top: 100px;
    @include mq_sp{
      margin-top: size_sp(120);
    }
    &Inner{
      background: $white00;
      @include box-shadow(0,0,20px,0,$black00,0.1);
      max-width: 738px;
      width: 100%;
      padding: 30px 30px 36px;
      //padding: 40px 30px 36px;
      margin: 0 auto;
      @include mq_sp{
        max-width: size_sp(644);
        padding: size_sp(37) size_sp(29) size_sp(42);
        //padding: size_sp(47) size_sp(29) size_sp(42);
      }
    }
    &Heading{
      @include font-size(34);
      line-height: (35/24);
      letter-spacing: 0.1em;
      text-align: center;
      font-family: $NotoSerif;
      position: relative;
      z-index: 1;
      width: 100%;
      @include mq_sp{
        @include fz_vw(56);
        line-height: (58/36);
        text-align: center;
      }
      /* &:before{
        @include abso-center-h();
        bottom: 2px;
        z-index: -1;
        content: "";
        width: 28%;
        height: 5px;
        background: $pink01;
        @include mq_sp{
          bottom: size_sp(10);
          height: size_sp(6);
          width: 50%;
        }
      } */
    }
    &Row{
      @include flex(flex, wrap, space-between, normal, normal, row);
      margin-top: 30px;
      @include mq_sp{
        margin-top: size_sp(27);
      }
    }
    &Img{
      max-width: 200px;
      width: 100%;
      height: 200px;
      @include mq_sp{
        max-width: size_sp(323);
        height: size_sp(323);
        margin: 0 auto;
      }
    }
    &Hgroup{
      max-width: 454px;
      width: 100%;
      margin-top: -0.4em;
      @include mq_sp{
        max-width: size_sp(480);
        margin: size_sp(15) auto 0;
        text-align: center;
      }
    }
    &Position{
      &.p01{
        @include font-size(24);
        line-height: (35/24);
        font-weight: 500;
        @include mq_sp{
          @include fz_vw(32);
        }
      }
      &.p02{
        @include font-size(18);
        line-height: (35/24);
        margin-top: 0.2em;
        @include mq_sp{
          @include fz_vw(26);
        }
      }
    }
    &Name{
      @include font-size(32);
      line-height: (35/24);
      letter-spacing: 0.05em;
      margin-top: 0.6em;
      @include mq_sp{
        @include fz_vw(42);
        margin-top: 0.3em;
      }
  }
    &Txt{
      @include font-size(18);
      line-height: (34/18);
      //max-width: 454px;
      width: 100%;
      margin-top: 1em;
      @include mq_sp{
        @include fz_vw(30);
        line-height: 2;
        max-width: 100%;
        margin-top: size_sp(32);
      }
    }
  }
  &__history{
    margin-top: 100px;
    @include mq_sp{
      margin-top: size_sp(150);
    }
    &Inner{
      max-width: 738px;
      width: 100%;
      margin: 0 auto;
      @include mq_sp{
        max-width: size_sp(630);
      }
    }
    &Intro{
      @include font-size(18);
      line-height: (34/18);
      margin-top: 26px;
      @include mq_sp{
        @include fz_vw(30);
        line-height: 2;
        margin-top: size_sp(42);
      }
    }
    &Cont{
      margin-top: 42px;
      @include mq_sp{
        margin-top: size_sp(72);
      }
    }
    &Item{
      @include flex(flex, wrap, flex-start, normal, normal, row);
      @include font-size(18);
      line-height: (38/20);
      padding-bottom: 41px;
      @include mq_sp{
        @include fz_vw(30);
        line-height: (64/30);
        position: relative;
        padding-bottom: size_sp(81);
      }
      &:before{
        @include mq_sp{
          content: "";
          position: absolute;
          left: size_sp(16);
          bottom: size_sp(22);
          width: 1px;
          min-height: size_sp(50);
          height: size_sp(50);
          background: $gray03;
        }
      }
      &:last-of-type{
        padding-bottom: 0;
        .page-about__historyItem-left{
          &:before{
            content: none;
          }
        }
      }
      &-left{
        position: relative;
        width: 2.3em;
        margin-right: 20px;
        @include mq_sp{
          line-height: (49/34);
          width: 100%;
          margin-right: 0;
        }
        &:before{
          content: "";
          position: absolute;
          top: 40px;
          left: 50%;
          transform: translateX(-50%);
          width: 1px;
          min-height: 30px;
          height: calc(100% - 43px + 30px);
          background: $gray03;
          @include mq_sp{
            content: none;
          }
        }
      }
      &-right{
        max-width: 653px;
        width: 100%;
        @include mq_sp{
          max-width: 100%;
          margin-top: size_sp(4);
        }
      }
    }
  }
  &__corporation{
    margin-top: 96px;
    @include mq_sp{
      margin-top: size_sp(142);
    }
    &Inner{
      max-width: 738px;
      width: 100%;
      margin: 0 auto;
      @include mq_sp{
        max-width: size_sp(630);
      }
    }
    &Heading{
      @include font-size(30);
      @include mq_sp{
        @include fz_vw(40);
      }
    }
    &Thumb{
      margin-top: 31px;
      @include mq_sp{
        margin-top: size_sp(51);
      }
    }
    &List{
      margin-top: 36px;
      @include mq_sp{
        margin-top: size_sp(50);
      }
    }
    &Item{
      @include flex(flex, wrap, flex-start, normal, normal, row);
      padding-bottom: 16px;
      @include mq_sp{
        padding-bottom: size_sp(20);
      }
      &:nth-of-type(n + 2){
        padding: 16px 0;
        border-top: 1px solid $gray01;
        @include mq_sp{
          padding: size_sp(30) 0 size_sp(20);
        }
      }
      &-left{
        @include font-size(18);
        line-height: (34/18);
        font-weight: 600;
        max-width: 120px;
        width: 100%;
        @include mq_sp{
          @include fz_vw(34);
          line-height: (49/34);
          max-width: 100%;
        }
      }
      &-right{
        @include font-size(18);
        line-height: (34/18);
        max-width: calc(100% - 120px);
        width: 100%;
        @include mq_sp{
          @include fz_vw(32);
          line-height: (64/32);
          max-width: 100%;
          margin-top: size_sp(11);
        }
        span{
          display: block;
          &:nth-of-type(n + 2){
            margin-top: 10px;
            @include mq_sp{
              margin-top: size_sp(21);
            }
          }
          & > a{
            //line-height: (28/18);
            text-decoration: underline;
            display: block;
          }
        }
        small{
          @include font-size(16);
          line-height: (24/16);
          display: block;
          margin-top: 2px;
          @include mq_sp{
            @include fz_vw(22);
            line-height: (32/22);
            margin-top: size_sp(7);
          }
        }
      }
    }
  }
}