.page-academic-industrial-collaboration {
  margin-top: 100px;
  @include mq_sp{
    margin-top: size_sp(100);
  }
  // 様々な連携
  &__various {
    width: 768px;
    margin: 0 auto;
    @include mq_sp{
      width: size_sp(644);
    }
    &-img {
      width: 532px;
      padding-top: 70px;
      margin: 0 auto;
      @include mq_sp{
        width: 100%;
        padding-top: size_sp(80);
      }
    }
    &-txt {
      font-size: 16px;
      line-height: (37/16);
      padding-top: 34px;
      @include mq_sp{
        @include fz_vw(28);
        line-height : (58/28);
        padding-top: size_sp(42);
      }
    }
  }
  // プロスポーツチームとの産学連携
  &__pro {
    margin-top: 193px;
    & .page-heading  {
      & span {
        &:after {
          @include mq_sp{
            left : calc(100% + #{size_sp(175)});
          }
        }
      }
    }
    &-list {
      padding-top: 70px;
      @include mq_sp{
        padding-top: size_sp(79);
      }
      & li {
        @include flex(flex, nowrap, center, stretch, normal, row);
        position: relative;
        z-index : 1;
        &:not(:first-of-type) {
          margin-top: 100px;
          @include mq_sp{
            margin-top: size_sp(150);
          }
        }
        &:nth-of-type(even) {
          flex-direction: row-reverse;
          & .page-academic-industrial-collaboration {
            &__pro {
              &-left {
                left : auto;
                right : 0;
              }
              &-ttl {
                text-align: right;
              }
              &-txt {
                margin-left: 0;
                margin-right: auto;
              }
            }
          }
        }
        // &:before {
        //   content : "";
        //   width : 100vw;
        //   height : 326px;
        //   background-color: $blue10;
        //   position: absolute;
        //   top : 50%;
        //   right : 0;
        //   transform : translateY(-50%);
        //   z-index : -1;
        //   @include mq_sp{
        //     display: none;
        //   }
        // }
      }
    }
    &-left {
      width: (640/1280)*100%;
      @include mq_tab{
        width: 70%;
        height: 451px;
        position : absolute;
        top : 80px;
        left : 0;
      }
      @include mq_sp{
        width: size_sp(616);
        height: size_sp(451);
        position : absolute;
        top : size_sp(89);
        left: 0;
      }
    }
    &-right {
      width: 640px;
      @include mq_tab{
        width: 100%;
      }
      @include mq_sp{
        width: 100%;
      }
    }
    &-ttl {
      font-size: 32px;
      font-weight: 700;
      line-height: (46/32);
      color : $blue02;
      width: 100%;
      padding: 0px 64px;
      @include mq_tab{
        width: 640px;
        padding : 0;
        margin : 0 auto;
      }
      @include mq_sp{
        @include fz_vw(40);
        line-height : (58/40);
        width: size_sp(630);
        padding: 0;
        margin: 0 auto;
      }
    }
    &-txt {
      font-size: 16px;
      line-height: (37/16);
      margin-top: 26px;
      padding: 34px 64px;
      background-color: $blue10;
      @include mq_tab{
        width: 640px;
        padding : 272px 60px 40px;
        margin-top: 251px;
        margin-left: auto;
      }
      @include mq_sp{
        @include fz_vw(28);
        line-height : (58/28);
        width: size_sp(680);
        margin-top: size_sp(251);
        margin-left: auto;
        padding: size_sp(272) size_sp(60) size_sp(40);
      }
    }
  }
  &__local {
    margin-top: 200px;
    @include mq_sp{
      margin-top: size_sp(232);
    }
    &-intro {
      font-size: 16px;
      line-height: (37/16);
      width: 768px;
      padding-top: 34px;
      margin: 0 auto;
      @include mq_sp{
        @include fz_vw(28);
        line-height: (58/28);
        width: size_sp(644);
        padding-top: size_sp(71);
      }
    }
  }
  &__industry {
    margin-top: 200px;
    @include mq_sp{
      margin-top: size_sp(199);
    }
    &-intro {
      font-size: 16px;
      line-height: (37/16);
      width: 768px;
      padding-top: 34px;
      margin: 0 auto;
      @include mq_sp{
        @include fz_vw(28);
        line-height : (58/28);
        width: size_sp(644);
        padding-top: size_sp(71);
      }
    }
    & .page-academic-industrial-collaboration {
      &__list {
        & li  {
          &:nth-last-of-type(-n + 5) {
            & .page-academic-industrial-collaboration {
              &__ttl {
                font-size: 23px;
                line-height : (34/23);
                @include mq_sp{
                  @include fz_vw(36);
                  line-height : (52/36);
                }
              }
              &__container {
                padding-top: 24px;
                margin-top: 20px;
                @include mq_sp{
                  margin-top: size_sp(40);
                  padding-top: size_sp(31);
                }
              }
              &__txt {
                width: 100%;
              }
            }
          }
          &:nth-last-of-type(5) {
            & .page-academic-industrial-collaboration {
              &__img {
                width: 232px;
                margin: 0 auto;
                @include mq_sp{
                  width: size_sp(398);
                }
              }
              &__txt {
                margin-top: 24px;
                @include mq_sp{
                  margin-top: size_sp(31);
                }
              }
              &__container {
                padding-top: 30px;
                flex-direction: column;
                @include mq_sp{
                  padding-top: size_sp(40);
                }
              }
            }
          }
          &:nth-last-of-type(4) {
            padding-bottom: 30px;
            @include mq_sp{
              padding-bottom: size_sp(41);
            }
            & .page-academic-industrial-collaboration {
              &__img {
                width: 232px;
                margin: 0 auto;
              }
              &__txt {
                margin-top: 18px;
                @include mq_sp{
                  margin-top: size_sp(31);
                }
              }
              &__container {
                padding-top: 25px;
                flex-direction: column;
                @include mq_sp{
                  padding-top: size_sp(30);
                }
              }
            }
          }
          &:last-of-type {
            padding-bottom: 30px;
            @include mq_sp{
              padding-bottom: size_sp(41);
            }
          }
        }
      }
    }
  }
  &__list {
    background-color: $blue10;
    padding: 70px 0;
    margin-top: 63px;
    @include mq_sp{
      padding: size_sp(80) 0;
      margin-top: size_sp(89);
    }
    & li {
      width: 764px;
      padding: 36px 36px;
      margin: 0 auto;
      background-color: $white00;
      @include mq_sp{
        width: size_sp(644);
        padding: size_sp(51) size_sp(40) size_sp(41);
      }
      &:not(:first-of-type) {
        margin-top: 50px;
        @include mq_sp{
          margin-top: size_sp(80);
        }
      }
    }
  }
  &__ttl {
    font-size: 30px;
    font-weight: 700;
    line-height: (44/30);
    text-align: center;
    @include mq_sp{
      @include fz_vw(36);
      line-height : (52/36);
    }
  }
  &__container {
    font-size: 16px;
    line-height : (37/16);
    @include flex(flex, nowrap, flex-start, stretch, normal, row);
    padding-top: 24px;
    margin-top: 30px;
    border-top : solid 6px $blue13;
    @include mq_sp{
      @include fz_vw(28);
      line-height : (58/28);
      padding-top: size_sp(14);
      margin-top: size_sp(40);
      border-top: size_sp(8) solid $blue13;
      flex-direction: column;
    }
  }
  &__subTtl {
    font-size: 18px;
    font-weight: 700;
    line-height : (37/18);
    text-align: center;
    @include mq_sp{
      @include fz_vw(32);
      line-height : (66/32);
      text-align: left;
    }
  }
  &__img {
    width: 326px;
    margin-top: 6px;
    margin-right: 30px;
    @include mq_sp{
      width: 100%;
      margin: size_sp(26) 0 0;
    }
  }
  &__txt {
    font-size: 16px;
    line-height : (37/16);
    width: 336px;
    @include mq_sp{
      @include fz_vw(28);
      line-height : (58/28);
      width: 100%;
      margin-top: size_sp(31);
    }
  }
  & .page-group__contBtn {
    font-size: 15px;
    line-height : (28/15);
    width : 346px;
    padding: 12px 0 11px;
    margin-top: 33px;
    @include mq_sp{
      @include fz_vw(24);
      line-height: (44/24);
      width: size_sp(554);
      padding: size_sp(22) 0 size_sp(21);
      margin-top: size_sp(61);
    }
  }
  &__example {
    margin-top: 33px;
    @include mq_sp{
      margin-top: size_sp(51);
    }
    &-ttl {
      font-size: 12px;
      line-height: (17/12);
      text-align: center;
      color : $white00;
      width: 112px;
      padding: 4px 0;
      background-color: $blue02;
      position : relative;
      z-index: 1;
      @include mq_sp{
        @include fz_vw(24);
        line-height : (35/24);
        width: size_sp(228);
        padding: size_sp(7) 0;
      }
      &:before {
        content : "";
        width: 692px;
        height : 2px;
        background-color: $blue02;
        position: absolute;
        top : 50%;
        left : 0;
        z-index : -1;
        @include mq_sp{
          width: size_sp(564);
          height : size_sp(3);
        }
      }
    }
    &-txt {
      font-size: 12px;
      line-height : (28/12);
      margin-top: 5px;
      @include mq_sp{
        @include fz_vw(24);
        line-height : (50/24);
        margin-top: size_sp(14);
      }
    }
  }
  // PDF
  &__pdf {
    background-color: $blue02;
    padding: 50px 0;
    @include mq_sp{
      padding: size_sp(100) 0;
    }
    &-ttl {
      font-size: 23px;
      font-weight: 700;
      line-height : (34/23);
      text-align : center;
      color : $white00;
      @include mq_sp{
        @include fz_vw(32);
        line-height : (46/32);
      }
    }
    & .page-group__contBtn {
      color : $blue02;
      background-color: #fff;
      width: 246px;
      margin-top: 40px;
      @include mq_sp{
        width: size_sp(414);
        margin-top: size_sp(50);
      }
    }
  }
  // 産学連携のお申し込みについて
  &__apply {
    padding-top: 150px;
    @include mq_sp{
      padding-top: size_sp(150);
    }
    &-ttl {
      font-size: 30px;
      font-weight: 700;
      line-height : (44/30);
      text-align: center;
      color : $blue02;
      @include mq_sp{
        @include fz_vw(36);
        line-height: (52/36);
        letter-spacing: .05em;
      }
    }
    &-list {
      width: 768px;
      padding-top: 40px;
      margin: 0 auto;
      @include mq_sp{
        width: size_sp(660);
        padding-top: size_sp(60);
      }
      & > li {
        padding: 25px 0 22px;
        border : solid 3px $blue04;
        @include flex(flex, nowrap, center, center, normal, row);
        position : relative;
        @include mq_sp{
          padding: size_sp(36) size_sp(32) size_sp(40);
          flex-direction: column;
          border : solid size_sp(4) $blue04;
        }
        &:before {
          content : "";
          width: 29px;
          height: 29px;
          background-image : url(./img/page/academic-industrial-collaboration/icn_triangle-yellow.svg);
          background-size : cover;
          background-repeat: no-repeat;
          background-position: center;
          position : absolute;
          top : -3px;
          left : -3px;
          z-index: 1;
          @include mq_sp{
            width: size_sp(46);
            height: size_sp(46);
            top : size_sp(-3);
            left : size_sp(-3);
          }
        }
        & .page-group__contBtn {
          font-size: 13px;
          line-height : (28/13);
          width: 146px;
          padding: 5px 0 6px;
          margin : 0px;
          @include mq_sp{
            @include fz_vw(22);
            line-height : (44/22);
            width: size_sp(238);
            padding: size_sp(12) 0;
          }
        }
      }
    }
    &-left {
      width: 508px;
      @include mq_sp{
        width : 100%;
      }
    }
    &-name {
      font-size: 20px;
      font-weight: 700;
      line-height : (29/20);
      @include mq_sp{
        @include fz_vw(32);
        line-height : (57/32);
        text-align: center;
      }
    }
    &-txt {
      font-size: 14px;
      line-height : (25/14);
      border-top : solid 2px $gray03;
      padding-top: 12px;
      margin-top: 13px;
      @include mq_sp{
        @include fz_vw(28);
        line-height : (58/28);
        border-top : solid size_sp(3) $gray03;
        text-align: center;
        padding-top: size_sp(23);
        margin-top:size_sp(27) ;
      }
    }
    &-right {
      margin-left: 38px;
      @include mq_sp{
        margin: size_sp(31) auto 0;
      }
    }
  }
  &__camp {
    padding-top: 150px;
    @include mq_sp{
      padding-top: size_sp(220);
    }
    &-img {
      width: 422px;
      margin: 0 auto;
      @include mq_sp{
        width: size_sp(597);
      }
    }
    &-ttl {
      font-size: 20px;
      font-weight: 700;
      line-height : (46/20);
      text-align: center;
      margin-top: 31px;
      @include mq_sp{
        @include fz_vw(28);
        line-height: (64/28);
        margin-top: size_sp(49);
      }
    }
    & .page-group__contBtn {
      width: 246px;
      @include mq_sp{
        width: size_sp(414);
        margin-top: size_sp(47);
      }
    }
  }
}