.archive-career {
  padding-top: 30px;
  position: relative;
  z-index: 2;
  @include mq_sp{
    padding-top: size_sp(59);
  }
  &__intro {
    font-size: 18px;
    line-height: (34/18);
    max-width: 768px;
    width: 100%;
    padding-top: 26px;
    margin: 0 auto;
    @include mq_sp{
      @include fz_vw(30);
      line-height: (60/30);
      padding-top: size_sp(42);
      max-width: size_sp(630);
    }
  }
  &__inner {
    max-width: 948px;
    width: 100%;
    padding-top: 76px;
    margin: 0 auto;
    @include mq_tab{
      max-width: 100%;
      padding: 75px 38px 0;
    }
    @include mq_sp{
      max-width: size_sp(630);
      padding-top: size_sp(72);
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__employment {
    max-width: 768px;
    width: 100%;
    padding-top: 130px;
    margin: 0 auto;
    @include mq_sp{
      max-width: size_sp(630);
      padding-top: size_sp(120);
    }
    & > h2 {
      font-size: 26px;
      line-height: (37/26);
      @include mq_sp{
        @include fz_vw(40);
        line-height: (58/40);
      }
    }
    &Group {
      padding-top: 30px;
      @include mq_sp{
        padding-top: size_sp(50);
      }
      & > li {
        &:nth-of-type(n + 2) {
          margin-top: 48px;
          @include mq_sp{
            margin-top: size_sp(53);
          }
        }
        & h3 {
          font-size: 20px;
          font-weight: 700;
          line-height: (29/20);
          text-align: center;
          color: $white00;
          background : $black02;
          padding: 11px;
          @include mq_sp{
            @include fz_vw(34);
            line-height: (64/34);
            padding: size_sp(9) size_sp(9) size_sp(8);
          }
        }
      }
    }
    &List {
      padding: 24px 17px 0px;
      column-count: 2;
      @include mq_sp{
        padding: size_sp(34) size_sp(20) 0;
        column-count: 1;
      }
      & > li {
        width: 352px;
        padding-left: 16px;
        position: relative;
        @include mq_sp{
          width: 100%;
          padding-left: size_sp(30);
        }
        & > span {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
  & .mod-banner {
    margin-top: 148px;
    @include mq_sp{
      margin-top: size_sp(143);
    }
  }
}