.tag {
  & .archive-post {
    &__inner {
      @include mq_sp{
        padding-top: size_sp(99);
      }
    }
  }
}

.archive-post {
  padding-top: 30px;
  @include mq_sp{
    padding-top: size_sp(61);
  }
  &__intro {
    font-weight: 700;
    @include flex(flex, wrap, flex-start, center, normal, column);
    margin-top: 52px;
    @include mq_sp{
      margin-top: size_sp(50);
    }
    &Heading {
      font-size: 24px;
      line-height: (35/24);
      letter-spacing: .05em;
      @include mq_sp{
        @include fz_vw(36);
        line-height: (52/36);
      }
    }
    &Txt {
      font-size: 18px;
      line-height: (26/18);
      letter-spacing: .05em;
      margin-top: 15px;
      @include mq_sp{
        @include fz_vw(30);
        line-height: (60/30);
        margin-top: size_sp(4);
      }
    }
  }
  &__search {
    margin-top: 50px;
    @include mq_sp{
      margin-top: size_sp(50);
    }
    & .btn__more.b {
      font-size: 16px;
      width: 244px;
      height: 52px;
      margin-top: 50px;
      transition: .6s;
      @include mq_sp{
        @include fz_vw(24);
        width: size_sp(376);
        height: size_sp(83);
        margin-top: size_sp(60);
      }
    }
  }
  &__year {
    width: 246px;
    margin: 0 auto;
    position: relative;
    @include mq_sp{
      width: size_sp(441);
    }
    & select {
      font-size: 16px;
      line-height: (24/16);
      text-align: center;
      text-align-last: center;
      height: auto;
      display: block;
      padding: 11px 0;
      border: solid 1px $black02;
      @include mq_sp{
        @include fz_vw(24);
        line-height: (35/24);
        padding: size_sp(24) 0 size_sp(23);
        border-width: size_sp(2);
      }
    }
    &:before {
      content: "";
      width: 17px;
      height: 12px;
      background: $pink01;
      clip-path: polygon(50% 100%, 0 0, 100% 0);
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      z-index : 2;
      pointer-events: none;
      @include mq_sp{
        width: size_sp(31);
        height: size_sp(23);
        right: size_sp(29);
      }
    }
  }
  &__cat {
    width: 648px;
    padding-top: 50px;
    margin: 0 auto;
    @include flex(flex, wrap, center, stretch, normal, row);
    @include mq_sp{
      width: size_sp(632);
      padding-top: size_sp(60);
    }
    & > button {
      font-size: 16px;
      line-height: (24/16);
      text-align: center;
      background : $white00;
      width: 196px;
      display: block;
      padding: 7px 0;
      border : solid 1px $black02;
      margin-right: 30px;
      transition: .4s;
      cursor: pointer;
      @include mq_sp{
        width: size_sp(296);
        padding: size_sp(18) 0;
        margin-right: size_sp(40);
        border-width: size_sp(2);
      }
      @include mq_sp{
        @include fz_vw(24);
        line-height: (35/24);
      }
      &:nth-of-type(3n) {
        margin-right: 0;
        @include mq_sp{
          margin-right: size_sp(40);
        }
      }
      &:nth-of-type(2n) {
        @include mq_sp{
          margin-right: 0;
        }
      }
      &:nth-of-type(n + 4) {
        margin-top: 30px;
        @include mq_sp{
          margin-top: size_sp(40);
        } 
      }
      &:nth-of-type(n + 3) {
        @include mq_sp{
          margin-top: size_sp(40);
        } 
      }
      &:last-of-type {
        margin-right: 0;
      }
      &.active {
        color : $white00;
        background : $black02;
      }
    }
  }
  &__inner {
    max-width: 1162px;
    padding-top: 102px;
    margin: 0 auto;
    @include flex(flex, wrap, flex-start, stretch, normal, row);
    @include mq_sp{
      max-width: size_sp(630);
      padding-top: size_sp(127);
      flex-direction: column;
    }
  }
  & > .btn__more {
    &.b {
      margin-top: 80px;
      @include mq_sp{
        margin-top: size_sp(100);
      }
    }
  }
  &__tag {
    max-width: 768px;
    width: 100%;
    padding-top: 80px;
    margin: 119px auto 0;
    border-top : solid 1px $gray03;
    @include mq_sp{
      max-width: size_sp(670);
      padding-top: size_sp(80);
      margin-top: size_sp(119);
      border-top-width: size_sp(2);
    }
    &List {
      @include flex(flex, wrap, center, stretch, normal, row);
      padding-top: 60px;
      margin-top: -14px;
      position: relative;
      @include mq_sp{
        padding-top: size_sp(60);
        margin-top: size_sp(-24);
      }
      & > li {
        font-size: 12px;
        line-height: (17/12);
        margin: 14px 5px 0;
        @include mq_sp{
          @include fz_vw(20);
          line-height: (29/20);
          margin: size_sp(24) size_sp(10) 0;
        }
        & > a {
          color : $gray04;
          width: 100%;
          padding: 3px 7px;
          display: block;
          border : solid 1px $gray04;
          @include mq_sp{
            padding: size_sp(5) size_sp(9);
            border-width: size_sp(1);
          }
        }
      }
    }
  }
}