/*  layout > contact
============================================================================================================ */

$page-contact: ".page-contact";

.page-contact{
  padding-top: 30px;
  @include mq_sp{
    padding-top: size_sp(100);
    padding-bottom: 0;
  }
  &__inner{
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    @include mq_sp{
      max-width: size_sp(696);
    }
  }
  &__anchor{
    @include flex(flex, wrap, center, normal, normal, row);
    margin-top: 50px;
    @include mq_sp{
      margin-top: size_sp(80);
    }
    .btn__anchor{
      @include font-size(15);
      line-height: (21/15);
      width: 168px;
      @include mq_sp{
        @include fz_vw(26);
        width: size_sp(337);
      }
      &:nth-of-type(n + 2){
        margin-left: 32px;
        @include mq_sp{
          margin-left: size_sp(20);
        }
      }
      &:nth-of-type(n + 5){
        margin-top: 54px;
        @include mq_sp{
          margin-top: size_sp(66);
        }
      }
      &:nth-of-type(5){
        margin-left: 0;
      }
      &:nth-of-type(n + 3){
        @include mq_sp{
          margin-top: size_sp(66);
        }
      }
      &:nth-of-type(odd){
        @include mq_sp{
          margin-left: 0;
        }
      }
    }
  }
  &__cont{
    margin-top: 114px;
    @include mq_sp{
      max-width: size_sp(680);
      width: 100%;
      margin: size_sp(146) auto 0;
    }
    &:nth-of-type( n + 3){
      margin-top: 150px;
      @include mq_sp{
        margin-top: size_sp(150);
      }
    }
    &:nth-of-type(3) {
      & .page-contact {
        &__item {
          &:nth-of-type(2) {
            & .page-contact {
              &__info {
                @include mq_sp{
                  margin-top: size_sp(67);
                } 
              }
            }
          }
        }
      }
    }
    &:last-of-type{
      #{$page-contact}__item{
        padding-bottom: 34px;
        @include mq_sp{
          padding-bottom: size_sp(41)
        }
      }
    }
  }
  &__contTtl{}
  &__list{
    @include flex(flex, wrap, flex-start, normal, normal, row);
    margin-top: 60px;
    @include mq_sp{
      max-width: size_sp(660);
      margin: size_sp(70) auto 0;
    }
  }
  &__item{
    position: relative;
    width: 374px;
    padding: 24px 14px 21px;
    margin-right: 20px;
    border: 2px solid $gray01;
    @include mq_sp{
      width: 100%;
      padding: size_sp(36) size_sp(32) size_sp(40);
      margin-right: 0;
      border-width: size_sp(4);
    }
    &:not(.wide){
      &:nth-of-type(2n){
        margin-right: 0;
      }
      &:nth-of-type(n + 3){
        margin-top: 40px;
        @include mq_sp{
          margin-top: size_sp(60);
        }
      }
      &:nth-of-type(n + 2){
        @include mq_sp{
          margin-top: size_sp(60);
        }
      }
    }
    &:only-of-type{
      margin: 0 auto;
    }
    &.wide{
      @include flex(flex, wrap, space-between, center, normal, row);
      width: 100%;
      padding: 13px 36px 25px;
      margin-right: 0;
      @include mq_sp{
        padding: size_sp(36) size_sp(32) size_sp(41);
      }
      &:nth-of-type(n + 2){
        margin-top: 40px;
        @include mq_sp{
          margin-top: size_sp(60);
        }
      }
      #{$page-contact}__col{
        width: 508px;
        @include mq_sp{
          width: 100%;
        }
      }
      #{$page-contact}__ttl{
        align-items: flex-start;
        text-align: left;
        line-height: (29/20);
        @include mq_sp{
          line-height: (57/32);
          align-items: center;
          text-align: center;
        }
      }
      #{$page-contact}__info{
        @include flex(flex, wrap, flex-start, normal, normal, row);
        line-height: (20/14);
        padding-top: 13px;
        margin-top: -1px;
        @include mq_sp{
          line-height: (58/28);
          padding-top: size_sp(23);
          margin-top: size_sp(27);
        }
        span{
          display: block;
          width: auto;
          text-align: left;
          @include mq_sp{
            width: 100%;
            text-align: center;
          }
          &:nth-of-type(2){
            margin-left: 2em;
            @include mq_sp{
              width: 100%;
              margin-left: 0;
            }
          }
        }
      }
      #{$page-contact}__btn{
        margin: 14px 0 0;
        @include mq_sp{
          margin: size_sp(31) auto 0;
        }
      }
    }
  }
  &__col{
    @include mq_sp{}
  }
  &__ttl{
    @include flex(flex, wrap, center, center, normal, column);
    @include font-size(20);
    text-align: center;
    line-height: (28/20);
    min-height: 58px;
    position : relative;
    @include mq_sp{
      @include fz_vw(32);
      line-height: (57/32);
      height: auto;
    }
    & > span {
      font-size: 10px;
      font-weight: 500;
      line-height: 1;
      width: 100%;
      position : absolute;
      left : 50%;
      bottom : -1px;
      transform : translateX(-50%);
      @include mq_sp{
        @include fz_vw(20);
        bottom : -30px;
      }
    }
  }
  &__info{
    @include font-size(14);
    line-height: (25/14);
    padding-top: 21px;
    margin-top: 9px;
    @include mq_sp{
      @include fz_vw(28);
      line-height: (58/28);
      border-top-width: size_sp(3);
      padding-top: size_sp(23);
      margin-top: size_sp(27);
    }
    span{
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  &__btn{
    @include font-size(13);
    line-height: (19/13);
    letter-spacing: 0.1em;
    font-weight: 500;
    text-align: center;
    color: $white00;
    display: block;
    width: 146px;
    padding: 8px 0 8px 0.05em;
    margin: 21px auto 0;
    background: $blue02;
    border: 2px solid $blue02;
    @include mq_sp{
      @include fz_vw(22);
      line-height: (32/22);
      width: size_sp(238);
      padding: size_sp(16) 0 size_sp(16) 0.05em;
      margin-top: size_sp(31);
      border-width: size_sp(2);
    }
    &:hover{
      opacity: 1;
      color: $blue02;
      background: $white00;
    }
  }
}