/*  layout > contact
============================================================================================================ */

$page-contact: ".page-contact";

.page-contact{
  padding-top: 30px;
  @include mq_sp{
    padding-top: size_sp(61);
    padding-bottom: 0;
  }
  &__inner{
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    @include mq_sp{
      max-width: size_sp(696);
    }
  }
  &__anchor{
    @include flex(flex, wrap, center, normal, normal, row);
    margin-top: 50px;
    @include mq_sp{
      margin-top: size_sp(50);
    }
    .btn__anchor{
      @include font-size(15);
      line-height: (21/15);
      width: 168px;
      @include mq_sp{
        @include fz_vw(26);
        width: size_sp(337);
      }
      &.children_club {
        letter-spacing: 0em;
      }
      &:nth-of-type(n + 2){
        margin-left: 32px;
        @include mq_sp{
          margin-left: size_sp(20);
        }
      }
      &:nth-of-type(n + 5){
        margin-top: 54px;
        @include mq_sp{
          margin-top: size_sp(66);
        }
      }
      &:nth-of-type(5){
        margin-left: 0;
      }
      &:nth-of-type(n + 3){
        @include mq_sp{
          margin-top: size_sp(66);
        }
      }
      &:nth-of-type(odd){
        @include mq_sp{
          margin-left: 0;
        }
      }
    }
  }
  &__cont{
    margin-top: 114px;
    @include mq_sp{
      max-width: size_sp(630);
      width: 100%;
      margin: size_sp(146) auto 0;
    }
    &:nth-of-type( n + 3){
      margin-top: 150px;
      @include mq_sp{
        margin-top: size_sp(120);
      }
    }
    &:nth-of-type(3) {
      & .page-contact {
        &__item {
          &:nth-of-type(2) {
            & .page-contact {
              &__info {
                @include mq_sp{
                  margin-top: size_sp(67);
                } 
              }
            }
          }
        }
      }
    }
    &:last-of-type{
      #{$page-contact}__item{
        padding-bottom: 34px;
        @include mq_sp{
          padding-bottom: size_sp(41)
        }
      }
    }
    &:not(.wide){
      #{$page-contact}__item{
        &:nth-of-type(2n){
          margin-right: 0;
        }
        &:nth-of-type(n + 3){
          margin-top: 40px;
          @include mq_sp{
            margin-top: size_sp(60);
          }
        }
        &:nth-of-type(n + 2){
          @include mq_sp{
            margin-top: size_sp(60);
          }
        }
      }
    }
    &.wide{
      #{$page-contact}__item{
        @include flex(flex, wrap, space-between, center, normal, row);
        width: 100%;
        padding: 12px 34px 23px 36px;
        margin-right: 0;
        @include mq_sp{
          padding: size_sp(32) size_sp(32) size_sp(40);
        }
        &:nth-of-type(n + 2){
          margin-top: 40px;
          @include mq_sp{
            margin-top: size_sp(60);
          }
        }
      }
      #{$page-contact}__col{
        width: 508px;
        @include mq_sp{
          width: 100%;
        }
      }
      #{$page-contact}__ttl{
        align-items: flex-start;
        text-align: left;
        @include mq_sp{
          align-items: center;
          text-align: center;
        }
      }
      #{$page-contact}__info{
        text-align: left;
        justify-content: flex-start;
        min-height: auto;
        padding-top: 11px;
        margin-top: -2px;
        @include mq_sp{
          text-align: center;
          padding-top: size_sp(25);
          margin-top: size_sp(25);
        }
        span{
          display: block;
          width: auto;
          text-align: left;
          @include mq_sp{
            width: 100%;
            text-align: center;
          }
          &:nth-of-type(2){
            margin-left: 2em;
            @include mq_sp{
              width: 100%;
              margin-left: 0;
            }
          }
        }
      }
      & .mod-btn {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 13px;
        @include mq_sp{
          margin: size_sp(33) auto 0;
        }
      }
    }
    &#vocational_school {
      & .page-contact__item:nth-of-type(2) {
        padding: 22px 14px 21px;
        @include mq_sp{
          padding: size_sp(32) size_sp(32) size_sp(40);
        }
        & .page-contact {
          &__ttl {
            font-size: 19px;
            @include mq_sp{
              @include fz_vw(30);
            }
          }
          &__info {
            max-width: 335px;
            @include mq_sp{
              max-width: size_sp(558);
            }
          }
        }
      }
    }
  }
  &__contTtl{
    & br {
      display: none;
    }
  }
  &__list{
    @include flex(flex, wrap, center, normal, normal, row);
    margin-top: 60px;
    @include mq_sp{
      max-width: size_sp(630);
      margin: size_sp(70) auto 0;
    }
  }
  &__item{
    position: relative;
    width: 374px;
    padding: 24px 18px 22px;
    margin-right: 20px;
    border: 2px solid $gray01;
    @include mq_sp{
      width: 100%;
      padding: size_sp(32) size_sp(32) size_sp(40);
      margin-right: 0;
      border-width: size_sp(4);
    }
    // &:only-of-type{
    //   margin: 0 auto;
    // }
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__col{
    @include mq_sp{}
  }
  &__ttl{
    @include flex(flex, wrap, center, center, normal, column);
    @include font-size(20);
    text-align: center;
    line-height: (28/20);
    min-height: 58px;
    position : relative;
    @include mq_sp{
      @include fz_vw(30);
      line-height: (60/30);
      height: auto;
    }
    & > span {
      font-size: 10px;
      font-weight: 500;
      line-height: 1;
      width: 100%;
      // margin-top: 6px;
      position : absolute;
      left : 50%;
      bottom : -1px;
      transform : translateX(-50%);
      @include mq_sp{
        @include fz_vw(20);
        bottom : -30px;
      }
    }
  }
  &__info{
    @include font-size(14);
    line-height: (25/14);
    text-align: center;
    min-height: 70px;
    padding-top: 21px;
    margin: 8px auto 0;
    @include flex(flex, wrap, center, center, normal, row);
    border-top : solid 2px $gray02;
    @include mq_sp{
      @include fz_vw(28);
      line-height: (54/28);
      min-height: auto;
      border-top-width: size_sp(3);
      padding-top: size_sp(25);
      margin-top: size_sp(25);
    }
    span{
      display: block;
      width: 100%;
      text-align: center;
    }
  }
  & .mod-btn {
    margin: 21px auto 0;
    @include mq_sp{
      margin: size_sp(33) auto 0;
    }
  }
}