.page-pastEvents {
  padding-top: 30px;
  @include mq_sp{
    padding-top: size_sp(60);
  }
  &__inner {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    @include mq_sp{
      max-width: size_sp(630);
    }
  }
  &__anchor {
    padding-top: 50px;
    @include flex(flex, wrap, center, stretch, normal, row);
    @include mq_sp{
      width: size_sp(523);
      margin: 0 auto;
      flex-direction: column;
    }
    & .btn__anchor {
      width: 364px;
      padding: 14px 0 13px 0.05em;
      margin-right: 40px;
      @include mq_sp{
        width: 100%;
        padding: size_sp(26) 0 size_sp(26) 0.05em;
        margin-right: 0;
      }
      &:nth-of-type(n + 3) {
        margin-top: 54px;
        @include mq_sp{
          margin-top: size_sp(66);
        }
      }
      &:nth-of-type(n + 2) {
        @include mq_sp{
          margin-top: size_sp(66);
        }
      }
      &:nth-of-type(even) {
        margin-right: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  &__cont {
    margin-top: 130px;
    @include mq_sp{
      margin-top: size_sp(120);
    }
    &:nth-of-type(2) {
      margin-top: 114px;
      @include mq_sp{
        margin-top: size_sp(146);
      }
    }
    &Btn {
      padding-top: 60px;
      @include flex(flex, wrap, center, stretch, normal, row);
      @include mq_sp{
        padding-top: size_sp(70);
      }
      & .mod-btn.w {
        margin-right: 50px;
        @include mq_sp{
          margin-right: size_sp(40);
        }
        &:nth-of-type(n + 5) {
          margin-top: 50px;
          @include mq_sp{
            margin-top: size_sp(40);
          }
        }
        &:nth-of-type(n + 3) {
          @include mq_sp{
            margin-top: size_sp(40);
          }
        }
        &:nth-of-type(4n) {
          margin-right: 0;
        }
        &:nth-of-type(even) {
          @include mq_sp{
            margin-right: 0;
          }
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}