.page-philosophy {
  padding-top : 30px;
  @include mq_sp{
    padding-top : size_sp(60);
  }
  &__inner{
    max-width: 768px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 800px) {
      max-width: 95%;
    }
    @include mq_sp{
      max-width: size_sp(630);
    }
  }
  &__about{
    &Intro{
      @include font-size(18);
      line-height: (34/18);
      margin-top: 26px;
      @include mq_sp{
        @include fz_vw(30);
        line-height: 2;
        margin-top: size_sp(42);
      }
    }
  }
  &__sports{
    margin-top: 126px;
    @include mq_sp{
      margin-top: size_sp(142);
    }
    &List{
      @include flex(flex, wrap, center, normal, normal, row);
      max-width: 1040px;
      width: 100%;
      margin: 30px auto 0;
      @media screen and (max-width:1070px) {
        max-width: 95%;
      }
      @include mq_sp{
        max-width: size_sp(670);
        margin-top: size_sp(50);
      }
    }
    &Item{
      max-width: 140px;
      width: 100%;
      margin-right: 40px;
      @media screen and (max-width:1070px) {
        max-width: (140/1040) * 100%;
        margin-right: (40/1040) * 100%;
      }
      @include mq_sp{
        max-width: size_sp(204);
        margin-right: size_sp(29);
      }
      &:nth-of-type(6n) {
        margin-right: 0;
      }
      &:nth-of-type(3n) {
        @include mq_sp{
          margin-right: 0;
        }
      }
      &:nth-of-type(n + 7) {
        margin-top: 37px;
        @include mq_sp{
          margin-top: size_sp(48.5);
        }
      }
      &:nth-of-type(n + 4){
        @include mq_sp{
          margin-top: size_sp(48.5);
        }
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
    &Thumb{
      @include mq_sp{}
    }
    &Txt{
      @include font-size(14);
      line-height: (24/14);
      font-weight: 600;
      text-align: center;
      margin-top: 10px;
      @include mq_sp{
        @include fz_vw(26);
        line-height: (40/26);
        margin-top: size_sp(8.5);
      }
    }
    &Imgs{
      @include flex(flex, wrap, space-between, normal, normal, row);
      max-width: 1262px;
      width: 100%;
      margin: 98px auto 0;
      @media screen and (max-width:1279px) {
        max-width: calc(100% - 18px);
      }
      @include mq_sp{
        max-width: size_sp(730);
        margin-top: size_sp(78.5);
      }
    }
    &Img{
      position: relative;
      max-width: (308/1262) * 100%;
      width: 100%;
      height: 0;
      padding-top: (205/1262) * 100%;
      @include mq_sp{
        max-width: size_sp(360);
        height: size_sp(239);
        padding-top: 0;
      }
      &:nth-of-type(n + 3){
        @include mq_sp{
          margin-top: size_sp(10);
        }
      }
      img{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
      }
    }
    &Info{
      @include font-size(18);
      line-height: (34/18);
      margin-top: 46px;
      @include mq_sp{
        @include fz_vw(30);
        line-height: 2;
        margin-top: size_sp(52);
      }
    }
  }
  &__skill{
    background: $white00;
    margin-top: 126px;
    @include mq_sp{
      margin-top: size_sp(142);
    }
    &Intro{
      @include font-size(18);
      line-height: (34/18);
      margin-top: 26px;
      @include mq_sp{
        @include fz_vw(30);
        line-height: 2;
        margin-top: size_sp(42);
      }
    }
    &List{
      @include flex(flex, wrap, flex-start, normal, normal, row);
      margin-top: 46px;
      @include mq_sp{
        margin-top: size_sp(72);
      }
    }
    &Item{
      max-width: 364px;
      width: (364/768) * 100%;
      padding: 22px 28px 21px;
      margin-right: (40/768) * 100%;
      border: 2px solid $gray01;
      @include mq_sp{
        max-width: 100%;
        width: 100%;
        padding: size_sp(50) size_sp(40) size_sp(42);
        margin-right: 0;
      }
      &:nth-of-type(2n){
        margin-right: 0;
      }
      &:nth-of-type(n + 3){
        margin-top: 60px;
        @include mq_sp{
          margin-top: size_sp(50);
        }
      }
      &:nth-of-type(n + 2){
        @include mq_sp{
          margin-top: size_sp(50);
        }
      }
      &-ttl{
        @include font-size(20);
        line-height: (29/20);
        text-align: center;
        @include mq_sp{
          @include fz_vw(34);
          line-height: (49/34);
        }
      }
      &-thumb{
        width: 100%;
        height: 202px;
        margin-top: 15px;
        @include mq_sp{
          height: size_sp(363);
          margin-top: size_sp(30);
        }
      }
      &-txt{
        //font-feature-settings: "palt";
        //letter-spacing: 0.1em;
        margin-top: 19px;
        @include mq_sp{
          margin-top: size_sp(22);
        }
      }
    }
    &Partner{
      margin-top: 80px;
      @include mq_sp{
        margin-top: size_sp(80);
      }
      &-heading{
        @include font-size(24);
        line-height: (35/24);
        text-align: center;
        @include mq_sp{
          @include fz_vw(38);
          line-height: (55/38);
        }
      }
      &-list{
        @include flex(flex, wrap, space-between, normal, normal, row);
        padding: 30px;
        margin-top: 30px;
        background: rgba($gray01,0.2);
        @include mq_sp{
          padding: size_sp(34);
          margin-top: size_sp(40);
        }
      }
      &-name{
        @include font-size(16);
        line-height: (24/16);
        position: relative;
        max-width: 337px;
        width: (337/768) * 100%;
        padding-left: 17px;
        @include mq_sp{
          @include fz_vw(26);
          line-height: (50/26);
          max-width: 100%;
          width: 100%;
          padding-left: size_sp(41);
        }
        &:before{
          content: "";
          position: absolute;
          top: 8px;
          left: 0;
          z-index: 1;
          width: 12px;
          height: 5px;
          background: $blue07;
          @include mq_sp{
            top: size_sp(22);
            width: size_sp(21);
            height: size_sp(9);
          }
        }
        &:nth-of-type(n + 3){
          margin-top: 18px;
          @include mq_sp{
            margin-top: size_sp(8);
          }
        }
        &:nth-of-type(n + 2){
          @include mq_sp{
            margin-top: size_sp(8);
          }
        }
      }
    }
  }
  &__contribution{
    margin-top: 150px;
    @include mq_sp{
      margin-top: size_sp(150);
    }
    &Inner{}
    &Heading{}
    &Txt{
      @include font-size(18);
      line-height: (34/18);
      margin-top: 26px;
      @include mq_sp{
        @include fz_vw(30);
        line-height: 2;
        margin-top: size_sp(42);
      }
    }
    &Cont{
      padding: 70px 0;
      margin-top: 56px;
      background: rgba($gray01,0.2);
      @include mq_sp{
        padding: size_sp(80) 0;
        margin-top: size_sp(72);
      }
    }
    &List{
      @include mq_sp{}
    }
    &Item{
      padding: 36px;
      background: $white00;
      @include mq_sp{
        padding: size_sp(50) size_sp(40) size_sp(45);
      }
      &:nth-of-type(n + 2){
        margin-top: 50px;
        @include mq_sp{
          margin-top: size_sp(80);
        }
      }
    }
    &Ttl{
      @include font-size(22);
      line-height: (32/22);
      text-align: center;
      padding-bottom: 30px;
      border-bottom: 6px solid $black02;
      @include mq_sp{
        @include fz_vw(36);
        line-height: (52/36);
        padding-bottom: size_sp(39);
        border-bottom-width: size_sp(8);
      }
    }
    &Row{
      @include flex(flex, wrap, space-between, normal, normal, row);
      margin-top: 30px;
      @include mq_sp{
        flex-direction: column;
        margin-top: size_sp(40);
      }
    }
    &Thumb{
      max-width: 326px;
      width: (326/696) * 100%;
      height: 215px;
      @include mq_sp{
        max-width: 100%;
        width: 100%;
        height: size_sp(363);
      }
    }
    &Info{
      //line-height: (27/16);
      max-width: 336px;
      width: (336/696) * 100%;
      margin-top: -2px;
      @include mq_sp{
        @include fz_vw(28);
        line-height: (58/28);
        max-width: 100%;
        width: 100%;
        margin-top: size_sp(31);
      }
    }
  }
  &__alignment{
    margin-top: 130px;
    @include mq_sp{
      margin-top: size_sp(150);
    }
    &Inner{}
    &Heading{}
    &Cont{
      padding: 70px 0;
      margin-top: 30px;
      background: rgba($gray01,0.2);
      @include mq_sp{
        padding: size_sp(80) 0;
        margin-top: size_sp(50);
      }
    }
    &List{
      @include mq_sp{}
    }
    &Item{
      padding: 36px;
      background: $white00;
      @include mq_sp{
        padding: size_sp(50) size_sp(40) size_sp(47);
      }
      &:nth-of-type(n + 2){
        margin-top: 50px;
        @include mq_sp{
          margin-top: size_sp(80);
        }
      }
    }
    &Ttl{
      @include font-size(22);
      line-height: (32/22);
      text-align: center;
      padding-bottom: 20px;
      border-bottom: 6px solid $black02;
      @include mq_sp{
        @include fz_vw(36);
        line-height: (52/36);
        padding-bottom: size_sp(39);
        border-bottom-width: size_sp(8);
      }
    }
    &Logo{
      max-width: 232px;
      width: 100%;
      margin: 30px auto 0;
      @include mq_sp{
        max-width: size_sp(300);
        margin-top: size_sp(40);
      }
    }
    &Txt{
      margin-top: 29px;
      @include mq_sp{
        @include fz_vw(28);
        line-height: (58/28);
        margin-top: size_sp(21);
      }
    }
    &Btn{
      line-height: (24/16);
      text-align: center;
      color: $white00;
      display: block;
      max-width: 346px;
      width: 100%;
      padding: 8px 0;
      margin: 38px auto 0;
      background: $black02;
      @include mq_sp{
        @include fz_vw(22);
        line-height: (32/22);
        max-width: size_sp(462);
        padding: size_sp(22) 0;
        margin-top: size_sp(31);
      }
    }
    &Subttl{
      position: relative;
      z-index: 1;
      margin-top: 38px;
      @include mq_sp{
        margin-top: size_sp(51)
      }
      span{
        @include font-size(12);
        line-height: (17/12);
        text-align: center;
        color: $white00;
        display: block;
        max-width: 112px;
        width: 100%;
        padding: 4px 0;
        background: $black02;
        @include mq_sp{
          @include fz_vw(24);
          line-height: (35/24);
          max-width: size_sp(228);
          padding: size_sp(8) 0 size_sp(8);
        }
      }
      &:before{
        @include abso-center-v();
        left: 0;
        z-index: -1;
        content: "";
        width: 100%;
        height: 2px;
        background: $blue02;
        @include mq_sp{
          height: size_sp(3);
        }
      }
    }
    &Case{
      margin-top: 8px;
      @include mq_sp{
        margin-top: size_sp(14);
      }
    }
  }
  &__contact{
    padding: 80px 0;
    margin-top: 150px;
    background: $black02;
    @include mq_sp{
      padding: size_sp(100) 0;
      margin-top: size_sp(150);
    }
    &Inner{}
    &Heading{
      @include font-size(20);
      line-height: (29/20);
      text-align: center;
      max-width: 558px;
      width: 100%;
      padding: 12px 0;
      margin: 0 auto;
      background: $white00;
      @include mq_sp{
        @include fz_vw(34);
        line-height: (64/34);
        max-width: size_sp(550);
        padding: size_sp(9) 0;
      }
    }
    &Txt{
      text-align: center;
      color: $white00;
      max-width: 656px;
      width: 100%;
      margin: 38px auto 0;
      @include mq_sp{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        max-width: none;
        width: size_sp(644);
        margin-top: size_sp(54);
      }
    }
    &Btn{
      line-height: (24/16);
      text-align: center;
      color: $white00;
      display: block;
      max-width: 148px;
      width: 100%;
      padding: 7px 0;
      margin: 38px auto 0;
      border: 1px solid $white00;
      @include mq_sp{
        @include fz_vw(22);
        line-height: (32/22);
        max-width: size_sp(262);
        padding: size_sp(21) 0;
        margin-top: size_sp(54);
      }
    }
  }
}