/*  layout > policy
============================================================================================================ */

.post-career {
  height: 371px;
  background : $white00;
  @include mq_sp{
    height: auto;
  }
  &:first-of-type,&:nth-of-type(3n + 1) {
    & a {
      color : $white00;
      background : $black02;
    }
  }
  &:nth-of-type(2),&:nth-of-type(3n + 2) {
    & a {
      background : $gray01;
    }
  }
  &:nth-of-type(3),&:nth-of-type(3n + 3) {
    & a {
      background : $white00;
    }
  }
  &:nth-of-type(n + 2) {
    margin-top: 60px;
    @include mq_sp{
      margin-top: size_sp(50);
    }
  }
  & > a {
    height: 100%;
    @include flex(flex, nowrap, center, stretch, normal, row);
    box-shadow: 0px 3px 6px rgba($black00, .15);
    @include mq_sp{
      flex-wrap: wrap;
      box-shadow: 0px size_sp(3) size_sp(6) rgba($black00, .15);
    }
  }
  &__thumb {
    max-width: 526px;
    width: 100%;
    @include mq_sp{
      max-width: none;
      height: size_sp(380);
    }
  }
  &__info {
    text-align: right;
    max-width: 422px;
    // padding : 29px 28px;
    padding: 30px;
    width: 100%;
    @include flex(flex, wrap, stretch, flex-end, normal, column);
    @include mq_sp{
      text-align: left;
      max-width: none;
      padding: size_sp(52) size_sp(30) size_sp(41);
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;
    }
    &Cont {
      @include mq_sp{
        width: size_sp(432);
      }
    }
    & h2 {
      font-size: 28px;
      font-weight: 700;
      line-height: (40/28);
      letter-spacing: .05em;
      @include mq_sp{
        @include fz_vw(36);
        line-height: (52/36);
        letter-spacing: 0em;
      }
    }
    &Alma {
      font-size: 16px;
      font-weight: 400;
      line-height: (27/16);
      margin-top: 15px;
      @include mq_sp{
        @include fz_vw(24);
        line-height: (50/24);
        margin-top: size_sp(23);
      }
    }
    &Occupation {
      font-size: 16px;
      font-weight: 400;
      line-height: (27/16);
      margin-top: 13px;
      @include mq_sp{
        @include fz_vw(22);
        line-height: (50/22);
        margin-top: size_sp(3);
      }
    }
    &Logo {
      width: 120px;
      height: 120px;
      background : $white00;
      margin-top: 38px;
      @include mq_sp{
        width: size_sp(110);
        height: size_sp(110);
        margin-top: 0;
      }
    }
  }
}