/*  layout > sitemap
============================================================================================================ */

$page-sitemap :".page-sitemap";

.page-sitemap{
  padding-top: 30px;
  @include mq_sp{
    padding-top: size_sp(59);
  }
  &__heading{}
  &__inner{
    max-width: 676px;
    width: 100%;
    margin: 50px auto 0;
    @include mq_sp{
      max-width: size_sp(690);
      margin-top: size_sp(50);
    }
  }
  &__row{
    @include flex(flex, wrap, space-between, normal, normal, row);
    width: 100%;
    padding-left: 12px;
    margin: 40px auto 0;
    @include mq_sp{
      padding-left: size_sp(20);
      margin-top: size_sp(60);
    }
    #{$page-sitemap}__list{
      width: (302/664) * 100%;
      &:first-of-type{
        > li{
          &:nth-of-type(n + 2){
            margin-top: 30px;
            @include mq_sp{
              margin-top: size_sp(40);
            }
          }
        }
      }
      &:nth-of-type(2){
        > li{
          &:nth-of-type(n + 2){
            margin-top: 30px;
            @include mq_sp{
              margin-top: size_sp(40);
            }
          }
        }
      }
    }
  }
  &__list{
    @include flex(flex, wrap, flex-start, flex-start, normal, column);
    &.left {
      @include mq_tab{
        width: size_sp(322);
      }
      & > li {
        & > a {
          &:before {
            background : $black01;
          }
        }
      }
    }
    &.right {
      @include mq_tab{
        width: size_sp(319);
      }
      & > li {
        & > a {
          &:before {
            background : $gray01;
          }
        }
      }
    }
    > li{
      font-size: 0;
      width: 100%;
      box-shadow: 0px 0px 10px rgba($black00, .1);
      @include mq_sp{
        box-shadow: 0px 0px size_sp(10) rgba($black00, .1);
      }
      > a{
        @include font-size(16);
        line-height: (27/16);
        font-weight: 400;
        position: relative;
        z-index: 1;
        display: block;
        padding: 4px 0 5px 32px;
        @include mq_sp{
          @include fz_vw(26);
          line-height: (50/26);
          padding: size_sp(14) 0 size_sp(12) size_sp(40);
        }
        &:before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 12px;
          height: 100%;
          transition: 0.7s;
          @include mq_sp{
            width: size_sp(20);
          }
        }
        &.top{
          &:before{
            background: $black01;
          }
        }
        &:hover{
          color: $white00;
          opacity: 1;
          &:before{
            width: 100%;
          }
        }
      }
    }
  }
  &__subList{
    padding-left: 32px;
    margin-top: 20px;
    @include mq_sp{
      padding-left: size_sp(20);
      margin-top: size_sp(30);
    }
    > li{
      font-size: 0;
      &:nth-of-type(n + 2){
        margin-top: 18px;
        @include mq_sp{
          margin-top: size_sp(30);
        }
      }
      a{
        @include font-size(16);
        line-height: (24/16);
        position: relative;
        display: inline-block;
        padding-left: 22px;
        @include mq_sp{
          @include fz_vw(28);
          line-height: (40/28);
          padding-left: size_sp(30);
        }
        &:before{
          @include abso-center-v();
          left: 0;
          content: "";
          width: 12px;
          height: 6px;
          background: $yellow01;
          @include mq_sp{
            width: size_sp(20);
            height: size_sp(9);
          }
        }
      }
    }
  }
}