/* module > top > banner
============================================================================ */

.top-banner{
  margin-top: 40px;
  @include mq_sp{
    margin-top: size_sp(100);
  }
  &__slider {
    height: 255px;
    padding-bottom: 35px;
    @include mq_sp{
      height: size_sp(266);
      padding-bottom: size_sp(46);
    }
    & .swiper-pagination {
      line-height: 1;
      height: 12px;
      @include flex(flex, wrap, center, center, normal, row);
      bottom: 0;
      left: 50%;
      transform : translateX(-50%);
      & span {
        background : $gray01;
        width: 12px;
        height: 100%;
        margin: 0 7px;
        opacity: 1;
        &.swiper-pagination-bullet-active {
          background : $pink01;
        }
      }
    }
  }
  &__list{
  }
  &__item{
    width: 500px;
    margin: 0 20px;
    @include mq_sp{
      width: size_sp(500);
      margin: 0 size_sp(15);
    }
    & a {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}