/* module > top > kv
============================================================================ */

.top-kv{
  position: relative;
  width: 100%;
  // height: 100vh;
  // height: 547px;
  @include mq_sp{
    // height: size_sp(989);
  }
  &__slider {
    width: 100%;
    // height: 100%;
    height: auto;
    position: relative;
    &List {
      width: 100%;
      // height: 100%;
      height: auto;
    }
    & .swiper-slide{
      // height: 100%;
      height: auto;
      & img {
        height: auto;
      }
    }
    & .swiper-pagination {
      line-height: 1;
      height: 12px;
      @include flex(flex, wrap, center, center, normal, row);
      bottom: 23px;
      left: 50%;
      transform : translateX(-50%);
      @include mq_sp{
        height: size_sp(16);
        bottom: size_sp(20);
      }
      & span {
        background : $gray01;
        width: 12px;
        height: 100%;
        margin: 0 7px !important;
        opacity: 1;
        @include mq_sp{
          width: size_sp(16);
          margin : 0 size_sp(10) !important;
        }
        &.swiper-pagination-bullet-active {
          background : $pink01;
        }
      }
    }
  }
  // &__catch{
  //   width: 458px;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   z-index: 2;
  //   transform : translate(-109%, -41%);
  //   color: $white00;
  //   @include mq_sp{
  //     width: size_sp(458);
  //     transform : translate(-50%, -50%);
  //   }
  // }
  &__scroll{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .2em;
    line-height: (29/20);
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    padding-bottom: 161px;
    position: absolute;
    left: 10px;
    bottom: 18px;
    z-index: 1;
    @include mq_sp{
      @include fz_vw(22);
      line-height: (32/22);
      padding-bottom: size_sp(187);
      left: size_sp(20);
      bottom: size_sp(17);
    }
    &:before{
      content: "";
      width: 15px;
      height: 157px;
      background-image : url(./img/top/arw_scroll.svg);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      right: 4px;
      bottom: 0;
      @include mq_sp{
        width: size_sp(17);
        height: size_sp(177);
        right: size_sp(5);
      }
    }
  }
}
