/* module > top > kv
============================================================================ */

.top-kv{
  position: relative;
  width: 100%;
  height: 100vh;
  &__catch{
    @include font-size(80);
    position: absolute;
    top: 58%;
    left: calc(50% + 0.025em + 25px);
    z-index: 2;
    transform: translate(-50%,-50%);
    color: $white00;
    white-space: nowrap;
    font-weight: 500;
    line-height: (116/80);
    letter-spacing: 0.05em;
    text-align: center;
    @include mq_sp{
      @include fz_vw(80);
      top: 55%;
      left: calc(50% + 0.025em);
    }
  }
  &__scroll{
    position: absolute;
    left: 31px;
    bottom: 0;
    z-index: 1;
    width: 2px;
    height: 177px;
    @include mq_sp{
      left: size_sp(53);
      width: size_sp(3);
      height: size_sp(120);
    }
    &:before{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: $blue02;
      animation: sdl 2s cubic-bezier(1, 0, 0, 1) infinite;
    }
    &:after{
      @include font-size(20);
      content: "Scroll";
      color: $blue02;
      line-height: (29/20);
      letter-spacing: 0.2em;
      font-weight: 500;
      position: absolute;
      left: 50%;
      bottom: calc(100% + 34px);
      transform: translateX(-50%) rotate(90deg);
      @include mq_sp{
        @include fz_vw(28);
        $vw_50: size_sp(50);
        bottom: calc(100% + #{$vw_50});
      }
    }
  }
}

@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}