/* module > top > news
============================================================================ */

.top-news{
  position: relative;
  padding: 60px 0 60px;
  background: $blue05;
  margin-top: 100px;
  @include mq_sp{
    padding: size_sp(60) 0 size_sp(80);
    margin-top: size_sp(150);
  }
  &__inner {
    max-width: 1011px;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width: 1200px) {
      max-width: 95%;
    }
    @include mq_sp{
      max-width: size_sp(670);
    }
    & h2 {
      font-size: 26px;
      font-weight: 700;
      line-height: (37/26);
      padding: 0 31px;
      @include mq_sp{
        @include fz_vw(40);
        line-height: (58/40);
        padding: 0 size_sp(20);
      }
    }
  }
  &__list{
    padding-top: 30px;
    @include flex(flex, wrap, flex-start, normal, normal, row);
    @include mq_sp{
      padding-top: size_sp(50);
    }
  }
  &__post{
    @include box-shadow();
    max-width: 364px;
    width: (317/1011) * 100%;
    background: $white00;
    margin-right: (30/1011) * 100%;
    @include mq_sp{
      max-width: 100%;
      width: 100%;
      margin-right: 0;
    }
    &:nth-of-type(n + 2){
      @include mq_sp{
        margin-top: size_sp(30);
      }
    }
    &:last-of-type{
      margin-right: 0;
    }
    a{
      width: 100%;
      @include flex(flex, wrap, flex-start, normal, normal, column);
      @include mq_sp{
        padding: size_sp(24) size_sp(24) size_sp(31);
        justify-content: space-between;
        flex-direction: row;
      }
    }
    &Thumb{
      width: 100%;
      height: 211px;
      @include mq_sp{
        max-width: size_sp(218);
        height: size_sp(145);
        margin-top: size_sp(12);
      }
    }
    &Info{
      padding: 16px 20px 29px;
      @include mq_sp{
        max-width: size_sp(382);
        padding: 0;
      }
    }
    &Date{
      font-weight: 400;
      line-height: (24/16);
      margin-bottom: size_sp(5);
      @include mq_sp{
        @include fz_vw(22);
        line-height: (37/22);
      }
    }
    &Ttl{
      font-size: 16px;
      font-weight: 400;
      line-height: (27/16);
      margin-top: 9px;
      @include mq_sp{
        @include fz_vw(24);
        line-height: (40/24);
        margin-top: 0;
      }
    }
    &Tag{
      @include flex(flex, wrap, flex-start, normal, normal, row);
      margin-top: 22px;
      margin-bottom: -12px;
      @include mq_sp{
        margin-top: size_sp(40);
        margin-bottom: size_sp(-20);
      }
      li{
        font-size: 12px;
        display: inline-block;
        padding: 3px 7px;
        line-height: (17/12);
        color: $blue03;
        border: 1px solid $blue03;
        margin-right: 12px;
        margin-bottom: 12px;
        @include mq_sp{
          @include fz_vw(22);
          padding: size_sp(10) size_sp(20);
          line-height: (32/22);
          margin-right: size_sp(20);
          margin-bottom: size_sp(20);
        }
      }
    }
  }
  .btn__more{
    margin-top: 50px;
    @include mq_sp{
      margin-top: size_sp(70);
    }
  }
}