/* module > top > pages
============================================================================ */

.top-pages{
  margin: 100px 0;
  @include mq_sp{
    margin-top: size_sp(120) 0 size_sp(130);
  }
  &__list{
    max-width: 948px;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width:1280px) {
      max-width: (948/1280)*100%;
    }
    @include mq_sp{
      max-width: size_sp(710);
      padding: 0;
    }
  }
  &__item{
    height: 371px;
    @include flex(flex, nowrap, flex-start, normal, normal, row);
    @include box-shadow();
    position: relative;
    &:nth-of-type(n + 2){
      margin-top: 60px;
      @include mq_sp{
        margin-top: size_sp(50);
      }
    }
    &:first-of-type,&:nth-of-type(3n + 1) {
      & .top-pages {
        &__item {
          &Box {
            color : $white00;
            background : $black02;
            & a {
              color : $white00;
              border-color : $white00;
            }
          }
        }
      }
    }
    &:nth-of-type(2),&:nth-of-type(3n + 2) {
      & .top-pages {
        &__item {
          &Box {
            background : $gray01;
          }
        }
      }
    }
    &:nth-of-type(3),&:nth-of-type(3n + 3) {
      & .top-pages {
        &__item {
          &Box {
            background : $white00;
          }
        }
      }
    }
    &Thumb{
      max-width: 526px;
      width: 100%;
      height: 100%;
      position: relative;
      @media screen and (max-width:1280px) {
        max-width: (526/948)*100%;
      }
      & span {
        font-size: 21px;
        line-height: (30/21);
        letter-spacing: .05em;
        color : $white00;
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    }
    &Box{
      color : $black01;
      max-width: 422px;
      width: 100%;
      padding: 30px;
      position: relative;
      z-index: 2;
      @media screen and (max-width:1280px) {
        max-width: (422/948)*100%;
      }
      @include mq_sp{
        width: size_sp(390);
      }
      h3{
        font-size: 26px;
        line-height: (37/26);
        letter-spacing: .05em;
        position: relative;
        @include mq_sp{
          @include fz_vw(32);
          line-height: (46/32);
        }
      }
      & p{
        line-height: (27/16);
        font-weight: 500;
        margin-top: 23px;
        @include mq_sp{
          @include fz_vw(26);
          line-height: (54/26);
          margin-top: size_sp(60);
        }
      }
      & a {
        font-size: 16px;
        line-height: (26/16);
        text-align: center;
        color : $black01;
        width: 148px;
        padding: 6px 0;
        margin-top: 38px;
        display: block;
        border : solid 1px $black01;
        &:hover {
          background : $black01;
          opacity: 1;
        }
      }
    }
  }
}