/* module > top > pages
============================================================================ */

.top-pages{
  margin: 100px 0;
  @include mq_sp{
    margin: size_sp(150) 0;
  }
  &__list{
    max-width: 948px;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width:1280px) {
      max-width: (948/1280)*100%;
    }
    @include mq_tab{
      max-width: 85%;
    }
    @include mq_sp{
      max-width: size_sp(642);
      padding: 0;
    }
  }
  &__item{
    height: 371px;
    @include flex(flex, nowrap, flex-start, normal, normal, row);
    @include box-shadow();
    position: relative;
    @include mq_sp{
      height: auto;
      flex-direction : column-reverse;
    }
    &:nth-of-type(n + 2){
      margin-top: 60px;
      @include mq_sp{
        margin-top: size_sp(70);
      }
    }
    &:first-of-type,&:nth-of-type(3n + 1) {
      & .top-pages {
        &__item {
          &Box {
            color : $white00;
            background : $black02;
            & a {
              color : $white00;
              border-color : $white00;
              &:hover {
                color : $black02;
                background : $white00;
              }
            }
          }
        }
      }
    }
    &:nth-of-type(2),&:nth-of-type(3n + 2) {
      & .top-pages {
        &__item {
          &Box {
            background : $gray01;
          }
        }
      }
    }
    &:nth-of-type(3),&:nth-of-type(3n + 3) {
      & .top-pages {
        &__item {
          &Box {
            background : $white00;
          }
        }
      }
    }
    &Thumb{
      max-width: 526px;
      width: 100%;
      height: 100%;
      position: relative;
      @media screen and (max-width:1280px) {
        max-width: (526/948)*100%;
      }
      @include mq_sp{
        max-width: 100%;
        height: size_sp(386);
      }
      & span {
        font-size: 21px;
        line-height: (30/21);
        letter-spacing: 0.065em;
        color : $white00;
        position: absolute;
        right: 18px;
        bottom: 20px;
        @include mq_sp{
          @include fz_vw(26);
          line-height: (37/26);
          right: size_sp(20);
          bottom: size_sp(20);
        }
      }
    }
    &Box{
      color : $black01;
      max-width: 422px;
      width: 100%;
      padding: 30px;
      position: relative;
      z-index: 2;
      @media screen and (max-width:1280px) {
        max-width: (422/948)*100%;
      }
      @include mq_sp{
        max-width: 100%;
        padding: size_sp(50);
      }
      h3{
        font-size: 26px;
        line-height: (37/26);
        letter-spacing: .05em;
        position: relative;
        @include mq_sp{
          @include fz_vw(40);
          line-height: (58/40);
          letter-spacing: 0em;
          text-align: center;
        }
      }
      & p{
        line-height: (27/16);
        font-weight: 400;
        margin-top: 23px;
        @include mq_sp{
          @include fz_vw(26);
          line-height: (50/26);
          margin-top: size_sp(20);
        }
      }
      & a {
        font-size: 16px;
        line-height: (26/16);
        text-align: center;
        color : $black01;
        width: 148px;
        padding: 6px 0;
        margin-top: 38px;
        display: block;
        border : solid 1px $black01;
        @include mq_sp{
          @include fz_vw(22);
          line-height: (44/22);
          width: size_sp(262);
          padding: size_sp(14) 0;
          margin: size_sp(43) auto 0;
          border : solid size_sp(2) $black01;
        }
        &:hover {
          color : $white00;
          background : $black01;
          opacity: 1;
        }
      }
    }
  }
}