/* base > heading
============================================================================================================ */

/* 基本設定 */
h1 {
	@include font-size(34);
  @include mq_sp {
    @include font-size(22);
  }
}
h2 {
	@include font-size(30);
  @include mq_sp {
    @include font-size(20);
  }
}
h3 {
	@include font-size(24);
	font-weight: bold;
}
h4 {
	@include font-size(20);
	font-weight: bold;
}
h5 {
	@include font-size(18);
	font-weight: bold;
}
h6 {
	@include font-size(18);
}

.common-heading{
	position: relative;
	max-width: 1280px;
	width: 100%;
	height: 155px;
	padding-left: 88px;
	margin-left: auto;
	margin-right: auto;
	@include mq_sp{
		height: size_sp(155);
		padding-left: size_sp(88);
	}
	&:before{
		@include box-shadow();
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 164px;
		height: 155px;
		background: url(./img/common/icn_heading.svg) no-repeat center/cover;
		@include mq_sp{
			width: size_sp(164);
			height: size_sp(155);
			background: url(./img/common/icn_heading-sp.svg) no-repeat center/cover;
		}
	}
	.en,.ja{
		display: block;
		position: relative;
		z-index: 2;
	}
	.en{
		@include font-size(86);
		line-height: 1;
		letter-spacing: 0.05em;
		font-weight: 700;
		color: $blue02;
		@include mq_sp{
			@include fz_vw(86);
		}
		&:first-letter{
			color: $white00;
		}
	}
	.ja{
		@include font-size(30);
		line-height: (44/30);
		letter-spacing: 0.05em;
		font-weight: 500;
		color: $blue02;
		padding-left: 85px;
		margin-top: 16px;
		@include mq_sp{
			@include fz_vw(30);
			padding-left: size_sp(85);
			margin-top: size_sp(16);
		}
	}
}

.page-heading{
	@include font-size(40);
	line-height: (58/40);
	letter-spacing: 0.05em;
	text-align: center;
	@include mq_sp{
		@include fz_vw(42);
		line-height: (61/42);
	}
	span{
		position: relative;
		left: 0.025em;
		&:before,&:after{
			@include abso-center-v();
			content: "";
			width: 30px;
			height: 46px;
			@include mq_sp{
				width: size_sp(30);
				height: size_sp(50);
			}
		}
		&:before{
			right: calc(100% + 20px);
			background: url(./img/page/icn_heading-l.svg) no-repeat center/cover;
			@include mq_sp{
				$vw_24: size_sp(24);
				right: calc(100% + #{$vw_24});
			}
		}
		&:after{
			filter: drop-shadow(0 3px 6px rgba($black00,0.08));
			left: calc(100% + 20px);
			background: url(./img/page/icn_heading-r.svg) no-repeat center/cover;
			@include mq_sp{
				$vw_24: size_sp(24);
				left: calc(100% + #{$vw_24});
			}
		}
	}
}

.page-subHeading {
	font-size : 30px;
	font-weight : 700;
	line-height : (44/30);
	letter-spacing: .05em;
	text-align: center;
	position: relative;
	@include mq_sp{
		@include fz_vw(36);
		line-height: (52/36);
	}
	&:before {
		content : "";
		width : 100px;
		height : 15px;
		background: url(./img/common/icn_subHeading.svg) no-repeat center/cover;
		position : absolute;
		bottom : -31px;
		left : 50%;
		transform: translateX(-50%);
		@include mq_sp{
			width : size_sp(122);
			height : size_sp(27);
			background: url(./img/common/icn_subHeading-sp.svg) no-repeat center/cover;
			bottom : size_sp(-51);
	
		}
	}
}

.page-ttl{
	@include font-size(24);
	line-height: (35/24);
	letter-spacing: 0.05em;
	text-align: center;
	font-weight: 400;
	color: $white00;
	position: relative;
	z-index: 1;
	@include mq_sp{
		@include fz_vw(28);
		line-height: (40/28)
	}
	span{
		@include flex(flex, wrap, center, center, normal, row);
		position: relative;
		width: 452px;
		padding: 10px 0;
		background: $blue02;
		margin: 0 auto;
		border-radius: 7px;
		@include mq_sp{
			width: size_sp(530);
			padding: size_sp(16) 0;
			border-radius: size_sp(7);
		}
	}
	&:after{
		@include abso-center();
		content: "";
		width: 768px;
		height: 2px;
		background: $blue02;
		z-index: -1;
		@include mq_sp{
			width: size_sp(680);
			height: size_sp(4);
		}
	}
} 

.page-bracketsTtl {
	font-size: 30px;
	font-size: 1.875rem;
	line-height: 1.46667;
	letter-spacing: 0.035em;
	text-align: center;
	width: 100%;
	@include mq_sp{
    font-size: 4.8vw;
    line-height: 1.44444;
    max-width: none;
	}
	& span {
		display: inline-block;
    position: relative;
    padding: 12px calc(43px - 0.025em) 12px 43px;
		@include mq_sp{
			padding : 2vw calc(7.46667vw - 0.025em) 2vw 7.46667vw;
		}
		&:before {
			content: "";
			position: absolute;
			width: 36px;
			height: 36px;
			top: 0;
			left: 0;
			background: url(./img/page/icn_heading-group-l.svg) no-repeat center/cover;
			@include mq_sp{
				width: 5.86667vw;
				height: 5.86667vw;
			}
		}
		&:after {
			content: "";
			position: absolute;
			width: 36px;
			height: 36px;
			bottom: 0;
			right: 0;
			background: url(./img/page/icn_heading-group-r.svg) no-repeat center/cover;
			@include mq_sp{
				width: 5.86667vw;
				height: 5.86667vw;
			}
		}
	}
}