/*  module > anchor
============================================================================================================ */

.mod-anchor{
  @include flex(flex, wrap, center, stretch, stretch, row);
  @include mq_sp{
  }
  .btn__anchor{
    @include font-size(15);
    line-height: (21/15);
    width: 183px;
    padding: 17px 14px;
    margin-right: 12px;
    @include flex(flex, wrap, center, center, stretch, row);
    @include mq_sp{
      @include fz_vw(26);
      width: size_sp(338);
      min-height: size_sp(126);
      padding: size_sp(26) size_sp(20) size_sp(27);
      margin-right: size_sp(20);
    }
    &:nth-of-type(n + 5){
      margin-top: 54px;
      @include mq_sp{
        margin-top: size_sp(66);
      }
    }
    &:nth-of-type(n + 3){
      @include mq_sp{
        margin-top: size_sp(66);
      }
    }
    &:nth-of-type(4n) {
      margin-right: 0;
    }
    &:nth-of-type(2n) {
      @include mq_sp{
        margin-right: 0;
      }
    }
    &:last-of-type {
      margin-right: 0;
    }
    &:hover {
      color: $black02;
      background: $white00;
    }
    & > small {
      display: none;
    }
    &:before{
      @include abso-center-h();
      bottom: -14px;
      z-index: 1;
      content: "";
      width: 27px;
      height: 19px;
      background: url(./img/page/arw_anchor.svg) no-repeat center/cover;
      @include mq_sp{
        width: size_sp(50);
        height: size_sp(35);
        bottom: size_sp(-26);
      }
    }
  }
}

