/* module > banner
============================================================================ */

.mod-banner {
  padding : 78px 0px 77px;
  background-image : url(./img/page/about/bg_guidance.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  @include mq_tab{
    padding : 100px 0x;
  }
  @include mq_sp{
    padding : size_sp(100) 0;
  }
  &::before {
    content : "";
    width : 100%;
    height: 100%;
    background-color : rgba($blue02, .7);
    position: absolute;
    top : 0;
    left : 0;
    z-index: -1;
  }
  &__concept {
    font-size : 34px;
    font-weight: 700;
    line-height : (49/34);
    letter-spacing: .05em;
    text-align: center;
    color : $white00;
    margin-bottom : 10px;
    @include mq_sp{
      @include fz_vw(44);
      line-height: (64/44);
      margin-bottom : size_sp(15);
    }
  }
  &__ttl {
    @include flex(flex, wrap, center, stretch, normal, row);
    & span {
      font-size : 34px;
      line-height: (49/34);
      letter-spacing: .05em;
      font-weight: 700;
      text-align: center;
      color : $blue02;
      background-color : $white00;
      padding: 13px 60px 11px;
      @include mq_tab{
        font-size: 44px;
        line-height: (64/44);
        padding : 16px 40px;
      }
      @include mq_sp{
        @include fz_vw(44);
        line-height: (64/44);
        padding : size_sp(16) size_sp(40);
      }
    }
  }
  &__txt {
    font-weight: 700;
    line-height: (37/16);
    text-align: center;
    color: $white00;
    width : 656px;
    margin : 34px auto 0;
    @include mq_tab{
      font-size : 28px;
      line-height : (58/28);
      text-align: left;
      width : 644px;
      margin : 50px auto 0;
    }
    @include mq_sp{
      @include fz_vw(28);
      line-height: (58/28);
      width : size_sp(644);
      margin : size_sp(50) auto 0;
    }
  }
  & .page-group__contBtn {
    font-size : 15px;
    line-height : (28/15);
    letter-spacing: .1em;
    width : 246px;
    padding : 9px 0px;
    border : solid 2px $white00;
    background-color: transparent;
    margin-top : 34px;
    @include mq_tab{
      font-size : 24px;
      line-height: (44/24);
      width : 414px;
      padding : 20px 0;
      margin-top : 52px;
    }
    @include mq_sp{
      @include fz_vw(24);
      line-height: (44/24);
      width : size_sp(414);
      padding : size_sp(20) 0;
      margin-top : size_sp(52);
    }
  }
}