/*  module > breadcrumbs
============================================================================================================ */

.mod-breadcrumbs{
  font-size: 13px;
  line-height: (19/13);
  width: 100%;
  height: 27px;
  padding: 8px 20px 0px;
  position: relative;
  z-index: 98;
  // position: absolute;
  // top: 0;
  // left: 50%;
  // transform: translateX(-50%);
  @include mq_sp{
    @include fz_vw(22);
    line-height: (32/22);
    height: size_sp(43);
    padding: size_sp(11) size_sp(12) 0;
  }
  &__inner {
    width: (1260/1280)*100%;
    white-space: nowrap;
    position: fixed;
    top: 84px;
    overflow-x: scroll;
    @include mq_tab{
      top: 110px;
    }
    @include mq_sp{
      width: size_sp(738);
      top: size_sp(112);
    }
  }
  &__list {
    & > span {
      margin-right: 21px;
      position: relative;
      @include mq_sp{
        margin-right: size_sp(24);
      }
      &:last-of-type {
        font-weight: 700;
        margin-right: 0;
        &:before {
          display: none;
        }
      }
      &:before {
        content : "";
        width: 6px;
        height: 13px;
        background-image: url(./img/common/arw_breadcrumbs.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 50%;
        right: -14px;
        transform: translateY(-50%);
        @include mq_sp{
          width: size_sp(9);
          height: size_sp(19);
          right: size_sp(-16);
        }
      }
    }
  }
}
