/* module > btn
============================================================================ */

.btn__more{
  @include font-size(18);
  position: relative;
  left: 0.05em;
  display: block;
  width: 208px;
  padding-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  line-height: (28/18);
  letter-spacing: 0.1em;
  color: $blue02;
  text-align: center;
  cursor: pointer;
  @include mq_sp{
    @include fz_vw(30);
    width: size_sp(346);
    padding-bottom: size_sp(3);
  }
  &:before,&:after{
    @include abso-center-v();
    content: "";
    width: 30px;
    height: 20px;
    background: url(./img/common/icn_btn-more.png) no-repeat center/100% 100%;
    @include mq_sp{
      width: size_sp(52);
      height: size_sp(34);
    }
  }
  &.yellow{
    &:before,&:after{
      background: url(./img/common/icn_btn-more-yellow.png) no-repeat center/100% 100%;
    }
  }
  &:before{
    left: 0;
  }
  &:after{
    right: 0;
  }
  &:hover{
    opacity: 1;
  }
}
